:root {
    --bar-color-interview: #B92A33;
    --p-text: Helvetica;
}

body {
    max-width: 450px;
    min-width: 320px;
    box-sizing: border-box;
    margin: 10px;
    /* border: solid black 1px; */
    height: 100vh;
    background-color: #faf6f2;
}

@font-face {
    font-family: "Anton";
    src: url(fonts/Anton/Anton-Regular.ttf);
}

@font-face {
    font-family: "TT Fors";
    src: url(fonts/tt_fors/TT\ Fors\ Trial\ Black\ Italic.ttf);
}