:root {
    --bar-color-interview: #96ADD6;
    --p-text: Helvetica;
}

body {
    max-width: 450px;
    min-width: 320px;
    box-sizing: border-box;
    margin: 25px;
    border: solid black 1px;
    height: 100vh;
    background-color: #F2EFEA;
}

@font-face {
    font-family: "Anton";
    src: url(fonts/Anton/Anton-Regular.ttf);
}

@font-face {
    font-family: "TT Fors";
    src: url(fonts/tt_fors/TT\ Fors\ Trial\ Black\ Italic.ttf);
}