nav {
    background-color: #B92A33;
    display: flex;
    align-items: center;
    justify-content: center; 
    height: 50px;
}  

.navDiv {
    justify-content: center;
    flex-grow: 1;
}

.navText {
    color: white;
    text-align: center;
    font-size: 16px;
    font-family: Helvetica;
    margin: 0;
    padding-top: 25px;
    padding-bottom: 25px;
}