#newsPageAssistantContainer {
}

hr {
    margin: 0;
}

#assistantText p{
    padding: 10px;
}

#introText {
    font-style: italic;
}

#redText {
    color: red;
    font-weight: bold;
}

#assistantImage {
    background-image: url(../../media/images/NyhetsartiklarThree.jpg);
    height: 200px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.assistantHeaders {
    padding: 10px;
    margin: 0;
}

#assistantH1 {
    font-family: "Anton";
    text-transform: uppercase;
}