/*Styles till Grannens Nyhetssida */

#newsPageContainer {
    padding: 30px 17px 0px 17px;
    background-color: #FAF6F2;

}

hr {
    margin: 0;
}

#lastHR {
    margin-bottom: 10px;
}

#header {
    background-color: #B92A33;
    position: relative;
    height: 43px;
    margin: 10px 0;
    display: grid;
    font-family: "Anton";
}

#header>h1 {
    margin: 0;
    justify-self: center;
    align-self: center;
}

#header>p {
    position: absolute;
    bottom: 0;
    right: 7px;
}

#image {
    height: 170px;
    margin-bottom: 10px;
    background-image: url("../../media/newsPage/bigImage.png");
    background-repeat: no-repeat;
    background-position: center;

}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
}

h1,
h2 {
    margin: 10px 0;
}

#flexContainer {
    display: flex;

}

#quoteAndImage {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

#quoteAndImage>p {
    font-size: 22px;
    text-align: center;
}

#granneImage {
    width: 170px;
    height: 220px;
    background-image: url("../../media/newsPage/granne.png");
    background-repeat: no-repeat;
    background-position: center;
}

#text>p:nth-child(3) {
    color: #B92A33;
}

footer {
    margin-top: 8px;
    background-color: #FAF6F2;
    height: 40px;
}

#rect {
    height: 30px;
    background-color: #B92A33;
    display: flex;
    align-items: center;
}

#rect>p {
    margin-left: 7px;
}







/* Styles till backgrunden */

#articleContainer {
    display: grid;
    grid-template-rows: 400px auto auto auto;
    grid-template-columns: 35px 1fr 1fr;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

#articleContainer>h2 {
    writing-mode: sideways-lr;
    white-space: nowrap;
    grid-row: 1/5;
    font-family: "Anton";
    position: absolute;
    bottom: 0;
    left: 0;
    margin-top: 0;
    overflow: hidden;
}

@supports not (writing-mode: sideways-lr) {
    #articleContainer>h2 {
        transform: rotate(90deg);
        transform-origin: bottom left;
    }
}

#img {
    height: 400px;
    width: 100%;
    grid-row: 1/2;
    grid-column: 2/4;
    background-image: url("../../media/newsPage/borgmastaren.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#background {
    margin-top: 15px;
    grid-row: 2/3;
    grid-column: 2/4;
    padding-right: 15px;
    padding-left: 8px;
    font-family: 'Times New Roman', Times, serif;
}

#separator {
    grid-row: 3/4;
    grid-column: 2/4;
    height: 5px;
    width: 70vw;
    justify-self: center;
    background-color: grey;
    margin: 10px 0 10px 0;
}

#uppgift {
    grid-row: 4/5;
    grid-column: 2/4;
    margin-left: 5px;
    padding-right: 15px;
    padding-left: 8px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 0;
    margin-bottom: 50px;
}

p {
    margin: 0;
}

#uppgift>p:last-child {
    color: #EB0404;
    margin-top: 15px;
}

#background>p:first-child,
#uppgift>p:first-child {
    font-family: "TT Fors";
    font-size: 4.5vw;
}


#background>p:last-child {
    text-indent: 7px;
}

#logo {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 10;
    height: 70px;
    width: 70px;
    background-image: url(../../media/newsPage/logo.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;

}


/* Smygbilder på borgmästaren artilekn */
#image2 {
    height: 170px;
    width: 100%;
    margin-bottom: 10px;
    background-image: url("../../media/newsPage/smygbilder.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

}

#red {
    font-size: 28px;
    color: #B92A33;
}

.margin {
    height: 20px;
}

/* Assistant artikeln */
#image3 {
    height: 170px;
    width: 100%;
    margin-bottom: 10px;
    background-image: url("../../media/newsPage/assistant.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#red2 {
    font-size: 16px;
    color: #B92A33;
}

/*Instruktionssida*/

/*LastArticle*/

#image4 {
    background-image: url(./media/newsPage/lastArticleMayor.jpg);
    height: 200px;
    margin-bottom: 12px;
    background-position: center;
}

#lastArticleImage {
    background-image: url(../../media/newsPage/BildSistaArtikel.jpg);
    width: 160px;
    height: 250px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 12px;
}

#lastArticleBold {
    font-weight: bold;
}

#lastArticleH2 {
    text-align: center;
}

#lastArticleTitle {
    margin-left: 12px;
}

#lastArticleHr {
    margin-top: 12px;
}

#lastArticleFirstP {
    margin-bottom: 12px;
}

#instBackground {
    height: 100vh;
    width: 100%;
    background-image: url("../../media/newsPage/background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 40px;
}

#instContainer {
    width: 80vw;
    display: flex;
    flex-direction: column;
    margin: auto;
    border-radius: 8px;
    background-color: white;
    padding: 20px;
}

#instHeader {
    color: #B92A33;
    font-family: sans-serif;
    text-align: center;
    margin-bottom: 20px;
}

#instContainer,
ol {
    font-family: sans-serif;
    font-size: 14px;
}

ol {
    margin-left: 0;
}

#instContainer>p:first-child,
#instContainer>p:nth-child(4) {
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

#instContainer>p:nth-child(2),
#instContainer>p:nth-child(3) {
    text-align: center;
}

#instContainer>p:nth-child(4) {
    margin-top: 18px;
}

#instContainer>p:nth-child(2) {
    margin-bottom: 10px;
}