.interviewImg {
    height: 500px;
    background-image: url(../../media/images/Grannen-AI-mindre.png);
    margin-top: 12px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

.interviewBoxesContainer {
    display: flex;
    flex-direction: column;
}

.interviewBoxes {
    height: 40px;
    padding-left: 10px;
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}

.bar {
    height: 6px;
    background-color: var(--bar-color-interview);
    margin-bottom: 4px;
}

.interviewBoxes p {
    font-family: var(--p-text);
    font-size: 16px;
}

.interviewTitle {
    font-family: var(--p-text);
    font-size: 24px;
    margin-left: 20px;
    margin-bottom: 12px;
    margin: 16px 0px 12px 20px;
}


/*POP-UP*/
#popUpContainer {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 300px;
    height: 400px;
    background: rgba(0, 0, 0, 0.6);
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#popUpText {
    font-size: 18px;
    font-weight: bolder;
    margin-bottom: 40px;
}



#popupContent input[type=range] {
    width: 100%;
}

#popupContent button {
    margin-top: 15px;
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}