.interviewImg {
    height: 500px;
    background-image: url(../../media/images/Grannen-AI-mindre.png);
    margin-top: 12px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

.interviewBoxesContainer {
    display: flex;
    flex-direction: column;
}

.interviewBoxes {
    height: 40px;
    padding-left: 10px;
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}

.bar {
    height: 6px;
    background-color: var(--bar-color-interview);
    margin-bottom: 4px;
}

.interviewBoxes p {
    font-family: var(--p-text);
    font-size: 16px;
}

.interviewTitle {
    font-family: var(--p-text);
    font-size: 24px;
    margin-left: 20px;
    margin-bottom: 12px;
    margin: 16px 0px 12px 20px;
}


/*POP-UP*/
#popUpbackground {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(104, 108, 111, 0.38);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

#popUpContainer {
    display: none;
    width: 280px;
    height: 300px;
    background: rgba(255, 255, 255, 0.936);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border-radius: 10px;
}

#popUpText {
    font-size: 18px;
    font-weight: bolder;
    margin-bottom: 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}



#popupContent input[type=range] {
    width: 100%;
}

#popupContent button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    margin: auto;
    margin-top: 30px;
}

#popUpInfo {
    margin: 20px 0;
    text-align: center;
    font-family: helvetica;
}

#sliderLabels {
    display: flex;
    justify-content: space-between;
}